<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h3>Hello, <%= @reciever %></h3>
    <h4> <%= @sender %>, says: </h4>
      <p>
        <%= @message_info.body %>
      </p>

  </body>
</html>
