/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#full-stage {
  height: 85vh;
  overflow: hidden  ;
}

.list-group-item {
  cursor: pointer;
}

#new-group-action {
  cursor: pointer;
}

.edit-group-action {
  margin-right: 5px;
}

.remove-group-member {
  cursor: pointer;
}

.screen {
  display: none
}

.screen.active {
  display: block;
}


#map-view-field {
  width: 80%;
  height: 74vh;
  overflow: scroll;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
