<h4 id="owner">test</h4>
<p id="description">test</p>
<ul id="group-member-list"></ul>
<input type="button" name="go-to-messages" class="btn btn-default" value="Messages">
<input type="button" name="go-to-maps" class="btn btn-default" value="Maps">
