<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a id="new-group-action">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Groups

      </a>
    </h3>
  </div>
  <div class="list-group" id="panel-group-list">

  </div>
</div>
