<div class="row">
  <div class="col-md-3">
  <%= render 'side_bar' %>
  </div>
  <div class="col-md-9">
      <!--<%= yield %>-->
      <div class="panel panel-default">
        <div class="panel-body" id="full-stage">

          <div id="new-group-form">
            <%= render "new_group_form" %>
          </div>

          <div id="show-group">
            <%= render "show_group" %>
          </div>


        </div>
      </div>


  </div>
</div>
